@page "{id}"
@model Learn.web.Pages.Admin.CourseGroups.DeleteGroupModel
@{
    ViewData["Title"] = "لرن فایل |حذف گروه ";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">حذف گروه </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="container alert">
    <div class="well col-md-11 margin" style="border-radius:8px;text-align:center">
        <form method="post">
            <input type="hidden" asp-for="CourseGroups.ParentId" />
            <input type="hidden" asp-for="CourseGroups.GroupId" />
            <h2>آیا از حذف گروه "@Model.CourseGroups.GroupTitle" مطمئن هستید؟ </h2>
            <p>
                <input type="submit" value="حذف کن" class="btn btn-outline btn-danger" />
                <a asp-page="Index" class="btn btn-outline btn-info">انصراف</a>
            </p>
        </form>
    </div>
</div>