<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <h4> دسترسی سریع</h4>
                        <ul>
                            <li><a href="/Courses">مشاهده تمامی دوره ها</a></li>
                            <li><a href="/">همکاری با لرن فایل </a></li>
                            <li><a href="/">کسب درآمد از لرن فایل </a></li>
                            <li><a href="/">ماهنامه طراحی وب</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <p>
                تمامی حقوق مادی و معنوی این قالب متعلق به <a href="">  لرن فایل</a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
            </p>
        </div>
    </div>
</footer>

